<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-image">
        <img src="/images/blueprt.jpg" alt="Fondo azul" />
        <span class="card-title">
          Agregar Proyecto
        </span>
      </div>
      <form autocomplete="off" action="/projects/add" method="POST">
        <div class="card-content">
          <!-- Entrada del nombre de la idea del proyecto -->
          <div class="input-field">
            <label for="project-name">
              Nombre del proyecto
            </label>
            <input
              id="project-name"
              placeholder="Ingrese el nombre aqui"
              name="name"
              type="text"
              class="validate"
            />
          </div>
          <!-- Entrada de la descripción de la idea del proyecto -->
          <div class="input-field">
            <label for="project-description">
              Descripción del proyecto
            </label>
            <textarea name="description" id="project-description" class="materialize-textarea"></textarea>
          </div>
        </div>
        <div class="card-action">
          <button type="submit" class="blue darken-3 waves-effect waves-light btn">
            <i class="material-icons left">note_add</i>Agregar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>